@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100%;
    overflow: hidden;
  }
  
  body {
    height: 100%;
    overflow-y: auto;
    overscroll-behavior-y: contain;
  }
}

